<div class="m-5 pb-1 text-center fs-1">How stressed are you?</div>
<div class="m-5 pb-5 text-center fs-1">Login to find out!</div>

<div class="container p-3">
  <div class="card row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <form class="card-body col">
      <div class="mb-3">
        <h2>Login</h2>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="container p-3">
  <div class="card row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <form class="card-body col">
      <div class="mb-3">
        <h2>Signup</h2>
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>