<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Review your results!</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4 container p-3 d-flex justify-content-center">
            <div class="card shadow" style="width: 50rem">
                <div class="mb-3">
                    <h2>Average Stress Data.</h2>

                    
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-6 mb-4 container p-3 d-flex justify-content-center">
            <div class="card shadow" style="width: 50rem">
                <div class="mb-3">
                    <h2>Most Recent Stress Data.</h2>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-success" id="start-quiz">Start Survey!</button>
</div>

<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>



























